@use "../base/index" as *;
.home-container {
  margin: 2em 0;
  @include universal-flex-display(initial, center);
  flex-direction: column;
  gap: 4em;
  padding: 3em 0;

  .home__title {
    width: 100%;
  }

  & > h2 {
    color: $blue;
  }
}
