@use "../base/" as *;

.hotel {
  margin-top: 3em;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex-wrap: wrap;
  }

  &__intro {
    @include universal-flex-display(space-between, baseline);
    gap: 3em;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }
  }

  &__address > span {
    margin-left: 0.5em;
    font-weight: $fw_bold;
  }

  &__location {
    color: $medium-blue;
  }

  &__price-highlight {
    color: $green;
  }

  &__images {
    @include universal-flex-display(space-between, initial);
    flex-wrap: wrap;
    gap: 0.2em;
  }

  &__image {
    flex: 1;
    flex-basis: 350px;
  }

  &__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active {
      transform: scale(0.9);
    }
  }

  &__details {
    @include universal-flex-display(initial, center);
    padding: 1em 0;
    margin: 2em 0;
    gap: 2em;
  }
  &__text {
    flex: 2;
  }
  &__details-price {
    flex: 1;
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: $medium-blue;
    color: $white;
    border-radius: 10px;
  }
}

.slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  z-index: 2;
  @include universal-flex-display(center, center);

  & > svg {
    position: absolute;
    color: $white;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:active {
      transform: scale(0.9);
    }
  }

  .right-arrow-icon {
    top: 50%;
    right: 15%;
  }
  .left-arrow-icon {
    top: 50%;
    left: 15%;
  }
  .close-icon {
    top: 1%;
    right: 15%;
  }
}

@include media-860 {
  .hotel__details,
  .hotel__intro {
    flex-direction: column;
    gap: 3em;

    .button__reserve {
      align-self: center;
    }
  }
}
