@use "../base/" as *;
.list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.list-wrapper {
  display: flex;
  gap: 2em;
}

.list-search {
  flex: 1;
  background-color: $blue;
  padding: 3em 1em;
  border-radius: 10px;
  position: sticky;
  top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  width: clamp(250px, 40vw, 450px);
}
.listResult {
  flex: 3;
}

.list-search__title {
  color: $white;
}
.list-search__item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.list-search__item > input {
  border: none;
  padding: 1em;
}
.list-search__item > span {
  padding: 0.6em;
  background-color: $white;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-search > button {
  padding: 1em;
  background-color: $medium-purple;
  border: none;
  color: $white;
  transition: all 0.3s ease;

  &:active {
    transform: scale(0.9);
  }
}

.option-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: $white;

  &__input {
    max-width: 50px;
  }
}
