@use "../base/" as *;
.list-container {
  margin-top: 2em;
}

.list-wrapper {
  display: flex;
  gap: 2em;
}

.list-search {
  flex: 1.2;
  background-color: $blue;
  padding: 3em 1em;
  border-radius: 10px;
  position: sticky;
  top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: max-content;
  min-width: 300px;

  &__title {
    color: $white;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & > span {
      padding: 0.6em;
      background-color: $white;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    & > label {
      color: $white;
    }
    & > input {
      border: none;
      outline: none;
      padding: 1em;

      &::placeholder {
        color: $black;
      }
    }
  }
  & > button {
    padding: 1em;
    background-color: $medium-purple;
    border: none;
    color: $white;
    transition: all 0.3s ease;

    &:active {
      transform: scale(0.9);
    }
  }
}
.list-result {
  flex: 2.8;
}

.option-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: $white;

  &__input {
    max-width: 50px;
    outline: none;
    padding: 0.3em;
  }
}
