@use "../base/" as *;
.login {
  background-color: $medium-blue;
  height: 100vh;
  @include universal-flex-display(center, center);
  flex-direction: column;
  color: $white;

  &__container {
    width: 20vw;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-width: 200px;

    & > span {
      color: $red;
      align-self: center;
    }
    & > p {
      align-self: center;
      text-align: center;

      & > a {
        text-decoration: underline;
      }
    }

    .password-input {
      position: relative;
    }

    .password {
      width: 100%;
    }

    .confirm-message {
      color: $green;
    }
  }
}
