@use "../../base/" as *;
.cards-list {
  @include universal-flex-display(space-between, initial);
  gap: 2em;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex: 1 350px;
    flex-direction: column;
    border-radius: 10px;
    gap: 0.5em;
    cursor: pointer;
    overflow: hidden;

    &-titles > h3 {
      text-transform: capitalize;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;

      &:active {
        transform: scale(0.9);
      }
    }
    &-name {
      font-weight: $fw-bold;
    }
    &-city {
      font-weight: $fw-light;
    }
    &-price {
      font-weight: $fw-normal;
    }
    &-rating > span {
      margin-left: 0.7em;
    }
  }
}
