@use "../../base/" as *;
.result-list {
  flex: 3;

  & > h3 {
    text-align: center;
  }
}
.result-item {
  border: 1px solid $lightgray;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  gap: 1.2em;
  margin-bottom: 2em;

  &__img {
    max-width: 300px;
    object-fit: cover;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    flex: 2;
  }

  &__title {
    color: $medium-blue;
  }

  &__distance {
    display: flex;
    flex-direction: column;
    color: $medium-blue;
    font-weight: 700;
  }

  &__taxiOp {
    background-color: $green;
    color: $white;
    width: max-content;
    border-radius: 5px;
    padding: 0.1em;
  }

  &__cancelOp {
    color: $green;
    font-weight: $fw_bold;
  }
  &__cancelOpSubtitle {
    color: $green;
  }

  &__details {
    @include universal-flex-display(space-between, initial);
    flex-direction: column;
    flex: 1;
  }
  &__rating {
    @include universal-flex-display(flex-end, center);

    & > span {
      font-weight: $fw_bold;
    }
  }

  &__detailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  &__taxOp {
    color: $lightgray;
  }
}

@include media-800 {
  .result-item {
    flex-direction: column;
    width: clamp(300px, 60vw, 500px);
    margin: 2em auto;
    &__img {
      width: 100%;
      max-width: none;
    }
    &__rating {
      justify-content: flex-end;
      gap: 1em;
    }
  }
}
