@use "../base/" as *;

.header {
  height: 70vh;
  background-color: $blue;
  color: $white;

  &.list-mode {
    height: 20vh;
  }

  &-container {
    height: 100%;
    @include universal-flex-display(space-between, initial);
    flex-direction: column;
    padding: 1em 0;

    .navbar-container {
      @include universal-flex-display(space-between, center);

      .hamburger {
        display: none;
      }

      .logo-container {
        width: 35%;
        cursor: pointer;
      }
    }

    .header_text {
      flex-grow: 0.8;
      @include universal-flex-display(center, center);
      flex-direction: column;
      text-align: center;
    }
  }
}
.container {
  width: 95%;
  max-width: 1350px;
  margin: 0 auto;
}

@include media-704 {
  .header .header-container .navbar-container .hamburger {
    display: block;
    position: absolute;
    right: 5%;
    top: 2%;
    cursor: pointer;
    z-index: 100;

    height: 30px;
    width: 30px;

    .hamburger_list {
      pointer-events: none;
      width: 100%;
      background-color: white;
      height: 3px;
      margin: 5px 0;
      transition: all 0.5s ease;

      &.open:nth-child(2) {
        transform: rotate(720deg);
        background: transparent;
      }
      &.open:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
      }
      &.open:nth-child(3) {
        transform: translateY(-3px) rotate(-45deg);
      }
    }
  }
}
