@use "../base/" as *;

.nav {
  @include universal-flex-display(space-between, center);
  flex-grow: 1;

  &__list {
    display: flex;

    .login-register {
      background-color: $light-purple;
    }
  }

  .user {
    @include universal-flex-display(center, center);
    flex-direction: column;
    gap: 0.5rem;
    & > p {
      border-radius: 15px;
      padding: 0.5em;
      border: 3px solid white;
    }

    & > span {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__item {
    padding: 0.5em 1em;
    border: 1px solid transparent;
    border-radius: 25px;
    transition: all 0.2s ease;

    &:hover {
      background-color: $opacity-blue;
    }
    &:active {
      border-color: $black;
    }
  }
  &__item + &__item {
    margin-left: 10px;
  }
}

@include media-704 {
  .nav {
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    z-index: -1;
    @include universal-flex-display(flex-start, center);
    flex-direction: column;
    background-color: $medium-blue;
    width: 100vw;
    padding: 1em 0;
    transition: all 0.3s ease;

    &.show {
      top: 0;
      opacity: 1;
      z-index: 10;
    }

    &__list {
      @include universal-flex-display(center, center);
      flex-direction: column;
      margin-bottom: 2em;
    }
    &__item + &__item {
      margin-top: 2em;
      margin-left: 0;
    }
  }
}
