@use "../base/" as *;
.result-list {
  flex: 3;
}
.result-item {
  border: 1px solid $lightgray;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  gap: 1.2em;
  margin-bottom: 2em;

  &__img {
    max-width: 300px;
    object-fit: cover;
  }
  &__desc {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    flex: 2;
  }

  &__title {
    color: $medium-blue;
  }

  &__taxiOp {
    background-color: $green;
    color: white;
    width: max-content;
    border-radius: 5px;
    padding: 0.2em;
  }

  &__subtitle {
    font-weight: $fw_bold;
  }

  &__cancelOp {
    color: $green;
    font-weight: $fw_bold;
  }
  &__cancelOpSubtitle {
    color: $green;
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      font-weight: $fw_bold;
    }
  }

  &__detailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  &__taxOp {
    color: $lightgray;
  }
  &__checkButton {
    background-color: $medium-blue;
    color: $white;
    font-weight: $fw_bold;
    padding: 0.8em 0.5em;
    border-radius: 5px;
    transition: all 0.3s ease;

    &:active {
      transform: scale(0.9);
    }
  }
}

@include media-800 {
  .search-item {
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    &__img {
      width: 100%;
      max-width: none;
    }
    &__rating {
      justify-content: flex-end;
      gap: 1em;
    }
  }
}
