@use "../base/" as *;
.hotels-search {
  flex: 1;
  background-color: $medium-blue;
  padding: 3em 1em;
  border-radius: 10px;
  position: sticky;
  top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: max-content;
  min-width: 300px;

  &__title,
  & > label {
    color: $white;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & > span {
      padding: 0.6em;
      background-color: $white;
      @include universal-flex-display(initial, center);
      cursor: pointer;
    }
  }
}

.option-item {
  @include universal-flex-display(space-between, initial);
  margin-bottom: 1em;
  color: $white;
}

@include media-1200 {
  .hotels-search {
    position: static;
    top: 2em;
    gap: 1.5em;
    width: clamp(300px, 95vw, 700px);
    margin: 0 auto;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      position: relative;

      .date {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 2;
      }
    }
  }
}
