@use "../base/" as *;
.hotels-search {
  flex: 1;
  background-color: $medium-blue;
  padding: 3em 1em;
  border-radius: 10px;
  position: sticky;
  top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: max-content;
  min-width: 300px;

  &__title {
    color: $white;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    & > span {
      padding: 0.6em;
      background-color: $white;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    & > label {
      color: $white;
    }
    & > input {
      border: none;
      outline: none;
      padding: 1em;

      &::placeholder {
        color: $black;
      }
    }
  }
}

.option-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  color: $white;

  &__input {
    max-width: 50px;
    outline: none;
    padding: 0.3em;
  }
}

@include media-1200 {
  .hotels-search {
    position: static;
    top: 2em;
    gap: 1.5em;
    width: clamp(340px, 95vw, 700px);
    margin: 0 auto;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      position: relative;

      .date {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 2;
      }
    }
  }
}
