@use "../base/" as *;

.header-search {
  max-width: 1200px;
  width: 100%;
  @include universal-flex-display(space-between, center);
  flex-wrap: wrap;
  background-color: $white;
  border: 3px solid $light-purple;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;

  &__item {
    @include universal-flex-display(initial, center);
    flex: 1 260px;
    padding: 0.7em;
    gap: 0.5em;

    &-text {
      cursor: pointer;
      line-height: 2;
      color: $black;
    }

    .date {
      position: absolute;
      top: 100%;
      z-index: 2;
    }
  }
  &__button {
    @include universal-flex-display(flex-end, center);
    padding: 0.5em;
  }
}

@include media-860 {
  .header-search {
    display: block;
  }
}

@include media-1152 {
  .header-search .header-search__button {
    justify-content: center;
    width: 100%;
  }
}
