@use "../base/" as *;

.header-search {
  max-width: 1200px;
  width: 100%;
  @include universal-flex-display(center, center);
  flex-wrap: wrap;
  background-color: $white;
  border: 3px solid $light-purple;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;

  &__item {
    @include universal-flex-display(initial, center);
    flex-basis: 260px;
    flex-grow: 1;
    padding: 1em;
    gap: 0.5em;

    &-icon {
      color: $lightgrey;
    }

    &-input,
    &-text {
      font-size: $search-font-size;
      line-height: 2;
    }

    &-input {
      border: none;
      outline: none;
    }
    &-text {
      color: $lightgrey;
      cursor: pointer;
    }
    .date {
      position: absolute;
      top: 100%;
      z-index: 2;
    }
  }
  &__button {
    @include universal-flex-display(flex-end, center);
    padding: 0.5em;

    .search-button {
      border-radius: 5px;
      padding: 1em 2.5em;
      background-color: $medium-purple;
      &:active {
        transform: scale(0.9);
      }
      &:hover {
        background-color: $blue;
      }
    }
  }
}

.options {
  position: absolute;
  top: 100%;
  background-color: $white;
  color: $lightgrey;
  border-radius: 5px;
  padding: 1em;
  z-index: 2;

  &__item {
    @include universal-flex-display(space-between, initial);
    min-width: 200px;
    margin: 1em 0;
    color: $black;

    &-counter {
      @include universal-flex-display(initial, center);
      gap: 0.5em;

      &-button {
        padding: 0.5em 0.7em;
        cursor: pointer;
        background-color: $white;
        border: 1px solid $light-purple;
        color: black;

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}

@include media-860 {
  .header-search {
    display: block;
  }
}

@include media-1124 {
  .header-search .header-search__button {
    justify-content: center;
  }
}
