@mixin universal-flex-display($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin media-860 {
  @media screen and (max-width: 860px) {
    @content;
  }
}
@mixin media-704 {
  @media screen and (max-width: 704px) {
    @content;
  }
}
@mixin media-1124 {
  @media screen and (max-width: 1124px) {
    @content;
  }
}
@mixin media-512 {
  @media screen and (max-width: 512px) {
    @content;
  }
}
@mixin media-1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
