@use "./variables" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: $ff_Playfair-Display;
  font-weight: $fw_normal;
}

h1,
h2,
h3 {
  font-family: $ff_Roboto;
  font-weight: $fw_bold;
}

h1 {
  font-size: clamp(2rem, calc(2.5vw + 1.2rem), 4rem);
}
h2 {
  font-size: clamp(1.5rem, calc(2.5vw + 0.8rem), 3rem);
}
h3 {
  font-size: clamp(1.3rem, calc(2.5vw + 0.6rem), 2rem);
}
p {
  font-size: clamp(0.8rem, calc(2.5vw + 0.4rem), 1.3rem);
}
a {
  text-decoration: none;
  font-size: clamp(0.9rem, calc(1.3vw + 0.3rem), 1.3rem);
}
li {
  list-style: none;
  font-size: clamp(0.9rem, calc(1.3vw + 0.3rem), 1.3rem);
}

img {
  max-width: 100%;
}
