@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

// Font weights
$fw_bold: 700;
$fw_normal: 400;
$fw_light: 300;

//Font family
$ff_Roboto: "Roboto", sans-serif;
$ff_Playfair-Display: "Playfair Display", serif;

//Colors

$white: rgb(255, 255, 255);
$black: rgb(1, 2, 10);
$opacity-black: rgb(1, 2, 10, 0.7);
$lightgray: rgb(145, 143, 145);

$light-purple: rgb(110, 102, 194);
$medium-purple: rgb(70, 62, 104);

$green: rgb(64, 128, 78);
$red: rgb(180, 19, 19);

$dark-blue: rgba(10, 13, 53, 0.959);
$medium-blue: rgb(34, 7, 97);
$medium-blue__lighter: rgb(51, 10, 148);
$opacity-blue: rgba(66, 98, 128, 0.548);
$light-blue__darker: rgb(97, 127, 184);
$light-blue: rgb(140, 175, 240);

//font
$input-font-size: clamp(0.9rem, calc(1.5vw + 0.3rem), 1.2rem);
$button-font-size__smaller: clamp(1rem, calc(1.4vw + 0.3rem), 1.25rem);
$button-font-size__larger: clamp(1.1rem, calc(1.5vw + 0.3rem), 1.4rem);
$svg-font-size__smaller: clamp(0.9rem, calc(1.5vw + 0.1rem), 1.3rem);
$svg-font-size__larger: clamp(1.2rem, calc(1.5vw + 0.1rem), 2rem);
