@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

// Font weights
$fw_bold: 700;
$fw_normal: 400;
$fw_light: 300;

//Font family
$ff_Roboto: "Roboto", sans-serif;
$ff_Playfair-Display: "Playfair Display", serif;

//Colors
$blue: rgb(36, 9, 97);
$white: rgb(222, 224, 235);
$black: rgb(1, 2, 10);
